<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pagingmapper">

	<select id="selectTestPaging" resultType="PagingTestDto"
		parameterType="hashmap">

		 <![CDATA[ 
			SELECT RN, NAME FROM (SELECT SEQ, RN, NAME FROM (SELECT ROWNUM 
			AS SEQ, RN, NAME FROM (SELECT * FROM TEST ORDER BY RN DESC) ) WHERE SEQ >= #{offset} )
			WHERE ROWNUM <= #{count} ]]>
	</select>

	<select id="selectTotalRecords" resultType = "int">
		SELECT COUNT(*) FROM TEST
	</select>
</mapper>
