<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h1>Expression</h1>
	
	<p th:text="|Hello, ${name}|">Hello, $name</p>
	
	<p th:text=${dto.subject}>dto.subject</p>
	<!--div속 dto를  *로 참조를 해서 쓸 수 있다 -->
	<div th:object="${dto}">
		<p th:text="*{subject}">dto.subject</p>
		<p th:text="*{seq}">dto.seq</p>
	
	</div>

	
	<table border = "1">
		<tr>
			<th>Subject</th>
			<th>Seq</th>
		</tr>
		<tr th:each="dto:${list}">
			<td th:text="*{dto.subject}">dto.subject</td>
			<td th:text="*{dto.seq}">dto.seq</td>
		</tr>
	</table>
	
	<table border = "1">
		<tr>
			<th>Subject</th>
			<th>Seq</th>
		</tr>
		<tr th:each="dto:${list}">
			<td th:object=${dto}>
				<span th:text="*{subject}">subject</span>
				<span th:text="*{seq}">seq</span>
			</td>
		</tr>
	</table>
	
	<br/>
	
	<!-- iflist를 보내주지 않아서 null이 뜰 것이다 -->
	<!-- 위의 부분은 조건이 참일때, 아래 부분은 조건이 거짓을 때 동직한다 -->
	<table border = "1">
		<tr th:if="${iflist} ne null">
			<td>iflist가 null이 아닙니다</td>
		</tr>
		<tr th:unless="${iflist} ne null">
			<td>iflist가 null이 맞습니다.</td>
		</tr>
	</table>
	
	<div th:each="num:${#numbers.sequence(1, 3)}">
		<th:block th:switch="${num}">
			<p th:case="1" th:text="|this is ${num}|">1</p>
			<p th:case="2" th:text="|second ${num}|">2</p>
			<p th:case="3" th:text="|other ${num}|">3</p>
		</th:block>
	</div>
	
	<a th:href = "@{index.html}">index</a>
	<a th:href = "@{util}">util</a>

</body>
</html>