<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "com.myboard" >
  
	<select id="selectList" resultType="myBoardDto">
		SELECT MYNO, MYNAME, MYTITLE,
		MYCONTENT, MYDATE
		FROM MYBOARD
		ORDER BY MYNO DESC
	</select>

	<insert id="insert" parameterType="myBoardDto">
		INSERT INTO MYBOARD
		VALUES(MYNOSEQ.NEXTVAL, #{myname}, #{mytitle}, #{mycontent}, SYSDATE)
	</insert>

	<select id="selectOne" parameterType="int"
		resultType="myBoardDto">
		SELECT MYNO, MYNAME, MYTITLE, MYCONTENT, MYDATE
		FROM MYBOARD WHERE MYNO = #{myno}
	</select>

	<delete id="delete" parameterType = "int">
		DELETE FROM MYBOARD WHERE MYNO = #{myno}
	</delete>
	
	<update id="update" parameterType= "myBoardDto">
		UPDATE MYBOARD SET MYCONTENT = #{mycontent}, MYDATE = SYSDATE
	</update>
</mapper>
