<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>detail</h1>
	
	<!-- <table th:object="${dto}"> 이런 식으로 잡으면 *{myname} 이런식으로 사용 가능 -->
	<table border="1">
		<tr>
			<th>작성자</th>
			<td th:text="${dto.myname}">작성자</td>
		</tr>
		<tr>
			<th>제목</th>
			<td th:text="${dto.mytitle}">제목</td>
		</tr>
		<tr>
			<th>내용</th>
			<td><textarea readonly = "readonly" rows = "10" cols = "60" th:text="${dto.mycontent}"></textarea></td>
		<tr>
			<td colspan = "3">
				<input type = "button" value = "수정" th:onclick = "|location.href='updateform?myno=${dto.myno}'|"/>
				<input type = "button" value = "삭제" th:onclick = "|location.href='delete?myno=${dto.myno}'|"/>
				<input type = "button" value = "목록" th:onclick = "location.href='./list'" />
			</td>
		</tr>


	</table>



</body>
</html>