<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>List</h1>
	
	<table border = "1">
		<tr>
			<th>MYNO</th>
			<th>MYNAME</th>
			<th>MYTITLE</th>
			<th>MYDATE</th>
		</tr>
		<tr th:if="${list.size() == 0}">
			<td colspan="4">--------작성된 글이 존재하지 않습니다--------</td>
		</tr>
		<tr th:unless="${list.size()==0}" th:each="dto:${list}">
			<td th:text="${dto.myno}">myno</td>
			<td th:text="${dto.myname}">myname</td>
			<td><a th:href="|@{/member/detail}?myno=${dto.myno}|" th:text="${dto.mytitle}">mytitle</a></td>
			<td th:text="${dto.mydate}">mydate</td>
		</tr>
		<tr>
			<td colspan="4">
			<input type = "button" value = "글작성" onclick="location.href='./insertform'"/>
			</td>
		</tr>
	
	</table>

</body>
</html>