<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form th:action="@{updateres}" method="post">
		<input type="hidden" name="myno" th:value="${dto.myno}" />

		<table border="1" th:object="${dto}">
			<tr>
				<th>작성자</th>
				<td><input type = "text" name = "myname" th:value = "*{myname}" readonly="readonly"/></td>
			</tr>
			<tr>
				<th>제목</th>
				<td><input type = "text" name ="mytitle" th:value="*{mytitle}"/></td>
			</tr>
			<tr>
				<th>내용</th>
				<td><textarea rows = "10" cols = "60" name = "mycontent" th:inline="text"/>[[*{mycontent}]]</textarea></td>
			</tr>
			<tr>
				<th>내용</th>
				<td colspan = "2" align = "right">
					<input type = "submit" th:value="UPDATE"/>
					<input type = "button" th:value="cancel" th:onclick = "|location.href='detail?myno=*{myno}'|"/>
				</td>
			</tr>
		</table>



	</form>



</body>
</html>