<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 이순신, 3000000, 개발 -->
<!-- c : constructor-arg-->
<bean id = "lee" class = "com.test05.Emp" c:name="이순신" c:salary = "3000000"></bean>
<bean id = "leess" class = "com.test05.Developer" c:emp-ref="lee" c:dept="개발"></bean>

<!-- 홍길동, 2500000, 기술 -->
<!-- p : property-->
<bean id = "hong" class ="com.test05.Emp" p:name="홍길동" p:salary = "2500000"></bean>
<bean id = "honggd" class = "com.test05.Engineer" p:emp-ref = "hong" p:dept = "기술"></bean>



</beans>
